:root {
  background-color: darkolivegreen;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  width: 100vw;
}

h1 {
  text-align: center;
}

.page-text {
  max-width: 500px;
}

nav {
  width: 100vw;
}

#detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  gap: 2px;
}

nav > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  gap: 10px;
  background-color: red;
  width: auto;
  height: 50px;
  /* flex-direction: row; */
}

.my-shop {
  display: grid;
  gap: 10px;
}

.shop-item {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
  display: flex;
  gap: 10px;
  /* flex-direction: column; */
}

.shop-item > img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100px;
}

.add-cart-btn {
  max-width: 50px;
  background-color: rgb(251, 255, 251);
  color: red;
}

.add-cart-btn:active {
  background-color: rgb(255, 255, 255);
}

#quantity {
  max-width: 40px;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
}

.cart-item {
  padding-bottom: 5px;
  border-bottom: solid 1px black;
}

input[type="submit"],
button,
input[type="number"] {
  padding: 2px;
  border-radius: 4px;
}

.display-btn {
  margin-top: 5px;
}

.display-btn:active {
  background-color: purple;
}

button:hover {
  background-color: antiquewhite;
}
